*{
    color: white;
}
body{
    background: black
   
}
/* .navbar-nav {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
} */
#header{
 
}
#header ul li a{
    display: flex;
    text-decoration: none;
}
#header ul li a span{
    text-decoration: none;
    padding: 0px 20px;
    color: white;
    font-weight: bold;
    font-size: 24px;

}
#header ul li .nav-link {
    font-weight: bold;
  
    overflow: hidden;

  }
#header ul li .nav-link span {
    position: relative;
    display: inline-block;
    transition: transform 0.3s;
  }
#header   ul li  .nav-link span:before {
    position: absolute;
    top: 110%;
    content: attr(data-hover);
    transform: translate3d(0, 0, 0);
  }
  
#header  ul li  .nav-link:focus, 
  .nav-link span:hover {
    color: #ffc200;
    font-weight: bold;
  }
#header  ul li .nav-link:focus span,
   .nav-link:hover span {
    transform: translateY(-110%);
    
  }
#header   ul li a span:hover{
      color: orange;
  }

  #home{

   margin-top: 70px;

    width: 100%;
    height: 100%;
  
      
      color: white;
  }
  #home h2{
    font-size: 40px;
    color: white;
}
#home h1 {
    font-size: 50px;
    color: white;
}
#home p{
   font-size: 20px;
}
 #home button {
      background-color: orange;
      color: white;
      text-decoration: none;
      border: none;
      font-size: 22px;
      margin-top: 20px;
      padding: 15px 60px;
      border-radius: 25px;
      font-weight: bold;
  }
 
 #home a{
    text-decoration: none;
    color: white;
  }
 #home a:hover{
    color: orange;
  }
  #home button:hover{
       background-color: transparent;
       color: orange;
       border: 1px solid orange;
  }
  #home img{
      margin-top: -40px;
      border: 9px solid orange;
      border-top-left-radius: 20px;
      border-bottom-right-radius: 20px;
     
  }

 #home .animated {
    position: relative;
  }
  
  #home .animated-info {
    display: inline-block;
    vertical-align: top;
    margin-top: 4px;
    margin-left: 0px;
    min-width: 290px;
    position: relative;
  }
  
  #home .animated-item {
    color: #ffc200;
  }
  
 #home .animated-item {
    font-size: 50px;
    line-height: inherit;
    display: block;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    animation: BottomTotop 6s linear infinite 0s;
  }
 #home .animated-item:nth-child(2n+2) {
    animation-delay: 2s;
  }
  #home .animated-item:nth-child(3n+3) {
    animation-delay: 4s;
  }
  #home #hey{
    margin-left: 3px;
    margin-top: -0px;
  }
  @keyframes BottomTotop {
    0% {
      opacity: 0;
    }
    5% {
      opacity: 0;
      transform: translateY(5px);
    }
    10% {
      opacity: 1;
      transform: translateY(0px);
    }
    25% {
      opacity: 1;
      transform: translateY(0px);
    }
    30% {
      opacity: 0;
      transform: translateY(5px);
    }
    80% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
#home  #folks .b{
    width: 100%;
    margin-top: 70px;
    margin-left: 70px;
}


#work{
    margin-top: 100px;
}
#work h1{
   
    font-size: 60px;
    border-left: 5px solid orange;
    padding-left: 10px;
    color: orange;
}
#work {
    background: url(/public/work-background.jpg) no-repeat center center/cover;
    width: 100%;
    padding: 30px 0px ;
}
#work .btn{
  color: white;
}
#work i{
  font-size: 15px;
}
#work .btn{
  margin-left: 15px;
}
#work p{
  font-size: 22px;
}
#work img{
  width: 95%;
  margin-top: 20px;
}
/* #work ul li a{
    color: rgb(178, 178, 238);
    font-size: 25px;
}
#work ul li a:hover{
    color: blue;
} */
#about{
    margin-top: 100px;
}
#about h1{
   
    font-size: 60px;
    border-left: 5px solid orange;
    padding-left: 10px;
    color: orange;
    
}
#about p{
  font-size: 22px;
}
#about .ali::after{
  display: block;
  content: " ";
  width: 40px;
  height: 2px;
  background-color: orange;
  
  margin-top: 5px;
}
#about h4{
    color:orange;
    font-size: 33px;
}
#about #image{
    text-align: center;
}
#about #image img{
    width: 80px;
    margin-left: 20px;
}
#about .me{
    border: 5px solid orange;
   border-top-right-radius: 15px;
   border-bottom-left-radius: 15px;    
}
#about span{
    color: orange;
}
#contact{
    margin-top: 100px;
}
#contact h1{
   
    font-size: 60px;
    border-left: 5px solid orange;
    padding-left: 10px;
    color: orange;
}
#contact h2{
    font-size: 40px;
}
#contact img{
  width: 40px;
}
#contact .facebook{
  width: 60px;
}

#contact ul li a span{
    color: white;
    font-size: 22px;
}
#contact ul li a span:hover{
    color: orange;

    
}
#contact .container .row .ml-4{
  margin-top: 5px;
}

#contact span{
    margin-left: 10px;
}
.facebook{
    margin-left: -10px;

}
#about #image #mongo{
  width: 20%;
}


footer{
   font-size: 22px;
     border-left: 2px solid orange;
    margin: 40px 0px;
    padding-left:10px ;
}
@media (max-width:768px) {
     #home{
      text-align: center;
     }
     #home img{
      margin-top: 30px;
     }
     #work .container{
      margin: 50px ;
     }
     #about .container{
      margin: 50px ;
     }
     #contact .container{
      margin: 50px ;
     }
}
@media (max-width:576px){
  #header{
    overflow: hidden;
  }
  .container{
   padding: 0px;
  
 }
 #work .container{
  margin: 0px;
 }
 #contact .container{
  margin: 0px;
 }
 #about .container{
  margin: 0px;
  text-align: center;
 }
 #about h1{
  text-align: start;
 }
 #header img{
   width: 25%;
   margin-left: 20px;
 }
#header button{
 position: absolute;
 right: 10px;
}
 h1{
   font-size: 40px;
 }

 #home{
  width: 97%;
   margin-left: 10px;
   overflow:hidden;
 }
 #home span{
   font-size: 30px;
 }
  #home .animated-item{
   width: 100%;
   font-size: 33px;
 } 
  #home h1{
   font-size: 40px;
   text-align: start;
 }
 #home h2{
   font-size: 20px;
   text-align: start;
 }
 #home span{
   font-size: 40px;
 }

 #home p{
   margin-top: 20px;
   text-align: start;
 }
 #home button{
   padding: 10px 30px;
   font-size:20px
 }
 #work{
  overflow: hidden;
   padding-left: 15px;
 }
 #work h1{
   font-size: 40px;
 }
 #work p{
   margin-top: 20px;
   font-size: 20px;
 }
 #work ul li a{
   font-size: 18px;
   padding-left: 0px;
 }
 #about{
   text-align: center;
   /* width: 95%; */
   padding-left: 15px;
   overflow: hidden;
 }
 #about h1{
   font-size: 40px;
 }

 #about h2{
   margin-top: 20px;
   font-size: 25px;
 }
 #about h4 {
   margin-top: 20px;
   font-size: 22px;
}
 #about h3 {
   margin-top: 20px;
   font-size: 25px;
}
#about .ali{
 padding: 0px;
 text-align: start;
 margin-left: 100px;
}
#about .col-md-3 {
 width: 100%;
 padding: 0px;
}
#about #image{
 padding: 0px;
}
#about #image img{
 padding: 5px;
}
#about #image #mongo {
  width: 40%;
}
#about p{
  text-align: start;
  width: 99%;
}

#contact{
 /* width: 95%; */
 padding-left: 15px;
 overflow: hidden;
}
 #contact h1{
   font-size: 40px;
 }
 #contact h2{
   font-size: 22px;
   color: orange;
 }
 #contact ul li a span{
   font-size: 18px;
 }
footer{
  font-size: 15px;
} 

}